.Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BasketContent {
    width: 80%;
}

.BasketContent > h5 {
    text-align: center;
    font-size: 18px;
}

.BasketTotal {
    display: flex;
    justify-content: space-between;
}