.SearchBoxWrap {
    width: 60%;
    max-width: 500px;
}

.CardContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.CardCont {
    width: 80%;
    margin-left: 2px;
    display: flex;
    justify-content: center;
}

.Spacer {
    width: 10%;
}