.HeroContent {
    padding: 80px 12% 80px 12%;
    width: 74%;
}

.HeroContent > h4 {
    color: #FFF8EB;
    font-weight: 500;
    font-size: 22px;
}

.HeroSection {
    background-color: #2F3E46;
    position: relative;
    margin-bottom: -4px;
}