.CardContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.CardContent > img {
    object-fit: contain;
    width: 80%;
    height: 180px;
}

.CardText > h5 {
    height: 48px;
    font-size: 14px;
    color: #2F3E46;
    margin-bottom: 0px;
}

.Details > p {
    font-size: 14px;
    font-weight: 600;
    color: #2F3E46;
}

.CardText {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Details > div > img {
    width: 20px;
    height: 20px;
}

.AddIcon {
    display: none;
    transition: all ease 3.3s;
}



.CardContent:hover > .CardText > .Details > .AddIcon {
    display: block;
}

