.Navbar {
    display: flex;
    justify-content: space-between;
    padding: 18px 0px;
    width: 100%;
}

.LogoNav > h1 {
    padding: 0px;
    margin: 0px;
    color: #31AFB4;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0.13em;
}