.Navbar {
    display: flex;
    justify-content: space-between;
    padding: 12px 0px;
    width: 100%;
}

.LogoNav > h1 {
    padding: 0px;
    margin: 0px;
    color: #31AFB4;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0.13em;
}

.Footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.RightSection > p {
    color: #2F3E46;
}

.RightSection {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.RightSection > h4 {
    font-weight: 600;
    color: #2F3E46;
    margin: 0px;
}